services:
  - type: web
    name: gst-erp-backend
    runtime: node
    buildCommand: "cd server && npm install"
    startCommand: "cd server && npm start"
    envVars:
      - key: SUPABASE_URL
        value: https://rhhnlelvunzzdwbnnodo.supabase.co
      - key: SUPABASE_KEY
        value: sb_publishable_oOav2ITX1-6Ou_sQfHEGA_ONBG3X1d
      - key: JWT_SECRET
        value: Nihal@2025$
      - key: PORT
        value: 5000
    routes:
      - path: /api
        destination: http://localhost:5000/api

  - type: static
    name: gst-erp-frontend
    staticPublishPath: dist
    buildCommand: "npm install && npm run build"
    routes:
      - path: /
        destination: /index.html
